.containerPadre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  width: 100%;
}

.padre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin: 50px;
  border-radius: 50px;
  box-shadow: 5px 5px 20px 5px #cf4bff65;
  transition: all 400ms ease;
  background: -webkit-linear-gradient(#d04bff, #6c63ff);
  width: fit-content;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.des {
  text-align: center;
}
.name {
  color: #130ab8;
  font-size: 35px;
  margin-bottom: 50px;
}
.priceCF {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.price {
  color: #130ab8;
  margin-left: 20px;
  font-size: 25px;
}

.car {
  font-size: 35px;
  margin-left: 50px;
}
.star {
  font-size: 35px;
  width: 25px;
  margin-left: 70px;
  color: #130ab8;
}
.imagen {
  height: 300px;
  margin-right: 50px;
  object-fit: contain;
  box-shadow: 5px 5px 50px 5px #fff;
  border-radius: 10px;
  border: 10px solid #c19a6b;
  border-style: groove;
}
.footer {
  width: 100%;
}
